@model IEnumerable<CRMCompany.Models.EntityModel>

<table class="table  table-bordered">
    <tr>
        <th>Наименование </th>
        <th>Мобильный телефон</th>
        <th>Адрес</th>
        <th>Email</th>
        <th>Комментарий</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>